@model SMSTransfer.Web.ViewModels.SumViewModel
@{
    ViewBag.Title = "汇总记录";
}
<h2>汇总记录</h2>
<br />
<div class="row">
    <div class="table-responsive">
        <table id="example" class="display" style="width:100%">
            @if (Model.Summaries.Count() == 0)
            {
                <tr>
                    <td colspan="10">No Record's found.</td>
                </tr>
            }
            else
            {
                <thead>
                    <tr>
                        <th>密钥 </th>
                        <th> 用户名</th>
                        <th> 已成功发送</th>
                    </tr>
                </thead>
                foreach (var item in Model.Summaries)
                {
                    <tr>
                        <td>@item.UserKey</td>
                        <td>@item.UserName</td>
                        <td>@item.Points</td>
                    </tr>
                }
            }
        </table>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
}
